
body{

    background-size:cover;
    background-position: center;
    
}


.heading{

    font-size: 23px;
    width: 100%;
    margin: 0px;
    background-color: #8a5333;
    color:white;

}

#minenoturs{

    position:fixed;
    bottom:0;
    width:100%;
    font-size: 20px;
    background-color: #ff670f;
    color:white;
   
    }

canvas{

    border:  solid white 2px;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow:5px 5px 5px white;
        }